/* Shoppage container */

.main {
  padding: 20px;
  text-align: center;
  display: flex;
}

.totalpriceandquantity {
  position: fixed;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  top: 24%;
  left: 82%;
  right: 4%;

  padding: 20px;
  text-align: center;
  background-size: cover;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  transition: transform 0.2s ease-in-out;
  text-decoration: none;
  color: #333;
}

.totalTableRow {
  border-top: solid 1px black;
}

/* Title */
.h1Title {
  font-size: 24px;
  margin-bottom: 20px;
  padding: 50px;
}

.primarybutton {
  border: 1px solid #808080;
  padding: 10px 30px;
  margin-top: 30px;
  text-transform: uppercase;
  border-radius: 2px;
  color: black;
  font-weight: 400px;
  letter-spacing: 4px;
  line-height: 20px;
  transition: 0.2s ease-in-out;
  font-size: 13px;
  max-width: 250px;
}

.primarybutton:hover {
  background-color: hsl(0, 0%, 50%);
  color: black;
}

/* Product list container */
.productlist {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* Product card container */
.card {
  background-size: cover;
  display: flex;
  align-items: center;
  gap: 5%;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin-bottom: 20px;
  padding: 30px;
  background-color: #fff;
  transition: transform 0.2s ease-in-out;
  text-decoration: none;
  color: #333;
}

.cardBlog:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Product image */
.productImage {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

/* Product title */
.producttitle {
  font-size: 18px;
  margin: 10px 0;
}

/* Input fields */
.forms {
  legend {
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 20px;
    margin-bottom: 40px;
  }
  :not(:last-of-type) {
    margin-bottom: 20px;
  }
}

.input {
  background-color: transparent;
  border: none;
  padding: 10px;
  color: gray;
  &::placeholder {
    letter-spacing: 0.1em;
    color: gray;
  }
  border-bottom: 1px solid gray;
  padding-bottom: 6px;
  font-size: 1rem;
  font-weight: 400;
  transition: border-color 0.2s ease-in-out;
}

.formsection {
  background-size: cover;
  text-align: center;
  margin-bottom: 20px;
  padding: 30px;
  background-color: #fff;
  text-decoration: none;
  color: #333;
}

.right {
  text-align: right;
}

.left {
  text-align: left;
}
