/* Shoppage container */
.shoppage {
  background-color: #f2f2f2;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
}

/* Background div */
.background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  // background-image: url('your-background-image.jpg');
  background-size: cover;
  opacity: 0.5; /* Adjust the opacity as needed */
  z-index: -1;
}

/* Title */
.h1Title {
  font-size: 24px;
  margin-bottom: 20px;
}

/* Product list container */
.productlist {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* Product card container */
.cardBlog {
  margin-bottom: 20px;
  border: 1px solid black;
  padding: 30px;
  background-color: #fff;
  transition: transform 0.2s ease-in-out;
  text-decoration: none;
  color: #333;
}

.cardBlog:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Product image */
.productImage {
  width: 200px; /* width of container */
  height: 200px; /* height of container */
  object-fit: cover;
}

/* Product title */
.producttitle {
  font-size: 18px;
  margin: 10px 0;
}

/* Product price */
.seeMore {
  font-size: 16px;
  color: #ff6600; /* Change the color as needed */
}
