.background {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #f2f2f2;
}
.background1,
.background2,
.image {
  position: absolute;
  width: 670px;
  height: 480px;
}
.background1 {
  top: 0;
  left: 0;
  border-radius: 4px;
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
}
.background2,
.image {
  top: 110px;
  left: 635px;
}
.background2 {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-8xs);
  background-color: var(--color-black);
}
.text {
  position: absolute;
  width: calc(100% - 49px);
  top: calc(50% - 11px);
  left: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.buttonPrimary,
.quantityinput {
  position: absolute;
  top: 297px;
  height: 60px;
}
.buttonPrimary {
  left: 101px;
  width: 200px;
  text-align: center;
  font-size: var(--font-size-lg);
  color: var(--color-white);
}
.quantityinput {
  left: 5px;
  border-radius: 9px;
  background-color: var(--color-white);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 80px;
}
.defaultinputone {
  position: absolute;
  top: 314px;
  left: 22px;
  font-size: var(--font-size-lg);
  line-height: 134.77%;
  text-align: center;
}
.price,
.quantitylabel {
  line-height: 140.63%;
  width: 422px;
}
.quantitylabel {
  position: absolute;
  top: 268px;
  left: 0;
  display: inline-block;
}
.price {
  top: 208px;
}
.h1,
.price,
.productdescription {
  position: absolute;
  left: 5px;
  display: inline-block;
}
.productdescription {
  top: 149px;
  line-height: 140.63%;
  width: 422px;
}
.h1 {
  top: 0;
  font-size: 56px;
  font-weight: 500;
  width: 399px;
}
.productdescriptiontemplate {
  position: absolute;
  top: 172px;
  left: 130px;
  width: 427px;
  height: 357px;
}
.singleproductpage {
  position: relative;
  width: 100%;
  height: 700px;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-roboto);
}
