html {
  margin: 0px;
  padding: 0px;
  background: white;
  color: black;
}

h1 {
  text-transform: uppercase;
  color: black;
}

a {
  text-decoration: none;
  color: black;
}

main {
  margin: 100px;
  position: absolute;
  color: white;
}
