body {
  margin: 0;
  line-height: normal;
  background-color: rgb(238, 238, 238);
}

.HeaderComponent {
  position: fixed;
  top: 0px;
}

a {
  text-decoration: none;
  color: black;
}

main {
  font-family: 'Times New Roman', Times, serif;
}

:root {
  /* fonts */
  --font-roboto: Roboto;
  /* font sizes */
  --font-size-xl: 20px;
  --font-size-lg: 18px;
  --font-size-sm: 14px;

  /* Colors */
  --color-black: #000;
  --color-white: #fff;
  --color-gray: rgba(0, 0, 0, 0.5);
  --color-silver: #c9b8b8;

  /* Border radiuses */
  --br-8xs: 5px;
  --br-11xs: 2px;
}
