.header {
  width: 95vw;
  position: sticky;
  display: flex;
  text-align: center;
  align-items: center;
  font-size: var(--font-size-lg);
  color: black;
  font-family: var(--font-roboto);
  justify-content: space-between;
  padding: 20px 40px;
  border-bottom: solid black 1px;
}

.navsection {
  display: flex;
  text-align: center;
  font-size: var(--font-size-lg);
  font-family: var(--font-roboto);
  justify-content: space-between;
  gap: 10px;
  color: black;
}

.logo {
  font-size: 24px;
  text-transform: uppercase;
  text-align: left;
  color: black;
  font-weight: 200;
  letter-spacing: 4px;
  line-height: 20px;
}
.currentcarttotalellipse {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: #e75050;

  .currentcartitemno {
    color: white;
  }
}

.primarybutton {
  border: 1px solid gray;
  padding: 10px 30px;
  margin-top: 10px;
  color: black;
  text-transform: uppercase;
  border-radius: 2px;
  font-weight: 400px;
  letter-spacing: 4px;
  line-height: 20px;
  transition: 0.2s ease-in-out;
  font-size: 13px;
}

.primarybutton svg {
  width: 7%;
  fill: var(--main-color);
  transition: all 0.3s;
}

.primarybutton:hover {
  background-color: gray;
  color: black;
  font-weight: mf-400;
}
