.background,
.background1 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.background {
  background-color: #f2f2f2;
}
.background1 {
  border-radius: var(--br-8xs);
  background-color: var(--color-black);
}
.text {
  position: absolute;
  width: calc(100% - 49px);
  top: calc(50% - 10.79px);
  left: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.buttonPrimary {
  position: absolute;
  height: 11.27%;
  width: 25%;
  top: 76.48%;
  right: 7.57%;
  bottom: 12.25%;
  left: 67.43%;
  text-align: center;
  font-size: var(--font-size-lg);
  color: var(--color-white);
}
.input1 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-8xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
}
.placeholder {
  position: absolute;
  height: 45.31%;
  width: 13.61%;
  top: 31.25%;
  left: 6.94%;
  line-height: 140.63%;
  display: inline-block;
}
.input,
.input2 {
  position: absolute;
  height: 7.55%;
  width: 25%;
  top: 22.64%;
  right: 64.65%;
  bottom: 69.81%;
  left: 10.35%;
}
.input2 {
  top: 44.15%;
  bottom: 48.3%;
}
.placeholder2 {
  position: absolute;
  height: 45.31%;
  width: 24.44%;
  top: 29.03%;
  left: 6.94%;
  line-height: 140.63%;
  display: inline-block;
}
.checkoutform,
.input4 {
  position: absolute;
  height: 6.92%;
  width: 25%;
  top: 33.33%;
  right: 64.65%;
  bottom: 59.75%;
  left: 10.35%;
}
.checkoutform {
  height: 48.81%;
  width: 65.49%;
  top: 19.5%;
  right: 30.83%;
  bottom: 31.7%;
  left: 3.68%;
  background-color: transparent;
  border: 1px solid var(--color-black);
  box-sizing: border-box;
}
.h1 {
  position: absolute;
  width: 29.31%;
  top: 12.08%;
  left: 35.35%;
  font-size: 32px;
  color: var(--color-black);
  text-align: center;
  display: inline-block;
}
.checkoutpage {
  position: relative;
  width: 100%;
  height: 795px;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-gray);
  font-family: var(--font-roboto);
}
